@model GoFpg.API.Data.Entities.InsuranceClaim

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>InsuranceClaim</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RONumber" class="control-label"></label>
                <input asp-for="RONumber" class="form-control" />
                <span asp-validation-for="RONumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RODate" class="control-label"></label>
                <input asp-for="RODate" class="form-control" />
                <span asp-validation-for="RODate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfLoss" class="control-label"></label>
                <input asp-for="DateOfLoss" class="form-control" />
                <span asp-validation-for="DateOfLoss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Damage" class="control-label"></label>
                <input asp-for="Damage" class="form-control" />
                <span asp-validation-for="Damage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Repair" class="control-label"></label>
                <input asp-for="Repair" class="form-control" />
                <span asp-validation-for="Repair" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleDate" class="control-label"></label>
                <input asp-for="ScheduleDate" class="form-control" />
                <span asp-validation-for="ScheduleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceCo" class="control-label"></label>
                <input asp-for="InsuranceCo" class="form-control" />
                <span asp-validation-for="InsuranceCo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyNumber" class="control-label"></label>
                <input asp-for="PolicyNumber" class="form-control" />
                <span asp-validation-for="PolicyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VinNumber" class="control-label"></label>
                <input asp-for="VinNumber" class="form-control" />
                <span asp-validation-for="VinNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" />
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mileage" class="control-label"></label>
                <input asp-for="Mileage" class="form-control" />
                <span asp-validation-for="Mileage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReferralNumber" class="control-label"></label>
                <input asp-for="ReferralNumber" class="form-control" />
                <span asp-validation-for="ReferralNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltAddress" class="control-label"></label>
                <input asp-for="AltAddress" class="form-control" />
                <span asp-validation-for="AltAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltAddress2" class="control-label"></label>
                <input asp-for="AltAddress2" class="form-control" />
                <span asp-validation-for="AltAddress2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltCity" class="control-label"></label>
                <input asp-for="AltCity" class="form-control" />
                <span asp-validation-for="AltCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltZip" class="control-label"></label>
                <input asp-for="AltZip" class="form-control" />
                <span asp-validation-for="AltZip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltState" class="control-label"></label>
                <input asp-for="AltState" class="form-control" />
                <span asp-validation-for="AltState" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltContactName" class="control-label"></label>
                <input asp-for="AltContactName" class="form-control" />
                <span asp-validation-for="AltContactName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AltPhoneNumber" class="control-label"></label>
                <input asp-for="AltPhoneNumber" class="form-control" />
                <span asp-validation-for="AltPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VINImageId" class="control-label"></label>
                <input asp-for="VINImageId" class="form-control" />
                <span asp-validation-for="VINImageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DLImageId" class="control-label"></label>
                <input asp-for="DLImageId" class="form-control" />
                <span asp-validation-for="DLImageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsCardImageId" class="control-label"></label>
                <input asp-for="InsCardImageId" class="form-control" />
                <span asp-validation-for="InsCardImageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

