@model GoFpg.API.Models.HistoryViewModel

<div class="row">                
<div class="col-md-4">
                <div class="form-group">
                    <label asp-for="RODate" class="control-label"></label>
                    <input asp-for="RODate" type="datetime" class="form-control" value="@DateTime.Today.ToShortDateString()" />
                    <span asp-validation-for="RODate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Damage" class="control-label"></label>
                    <input asp-for="Damage" class="form-control" style="text-transform:capitalize"/>
                    <span asp-validation-for="Damage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateOfLoss" class="control-label"></label>
                    <input asp-for="DateOfLoss" type="datetime" class="form-control" value="@DateTime.Today.ToShortDateString()" />
                    <span asp-validation-for="DateOfLoss" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Repair" class="control-label"></label>
                    <input asp-for="Repair" class="form-control" style="text-transform:capitalize"/>
                    <span asp-validation-for="Repair" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="InsuranceCo" class="control-label"></label>
                    <input asp-for="InsuranceCo" class="form-control" style="text-transform:capitalize"/>
                    <span asp-validation-for="InsuranceCo" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PolicyNumber" class="control-label"></label>
                    <input asp-for="PolicyNumber" class="form-control" />
                    <span asp-validation-for="PolicyNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ScheduleDate" class="control-label"></label>
                    <input asp-for="ScheduleDate" type="datetime" class="form-control" value="@DateTime.Today.ToShortDateString()" />
                    <span asp-validation-for="ScheduleDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ScheduleTime" class="control-label"></label>
                    <input asp-for="ScheduleTime" type="datetime" class="form-control" value="@DateTime.Today.ToShortDateString()" />
                    <span asp-validation-for="ScheduleTime" class="text-danger"></span>
                </div>
                </div>
                <div class="col-md-4">
                <div class="form-group">
                     <label asp-for="Mileage" class="control-label"></label>
                     <input asp-for="Mileage" class="form-control" />
                     <span asp-validation-for="Mileage" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ReferralNumber" class="control-label"></label>
                    <input asp-for="ReferralNumber" class="form-control" />
                    <span asp-validation-for="ReferralNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="checkbox-0cf9" name="AlternateContact" value="Off">
                    <label for="checkbox-0cf9" class="control-label">Alternate Contact</label>
                </div>
                <div class="form-group">
                    <label asp-for="AltContactName" class="control-label"></label>
                    <input asp-for="AltContactName" class="form-control" style="text-transform:capitalize"/>
                    <span asp-validation-for="AltContactName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AltPhoneNumber" class="control-label"></label>
                    <input asp-for="AltPhoneNumber" class="form-control" />
                    <span asp-validation-for="AltPhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="checkbox" id="checkbox-0cf9" name="AlternateAddress" value="Off">
                    <label for="checkbox-0cf9" class="control-label">Alternate Address</label>
                </div>
                <div class="form-group">
                    <label asp-for="AltAddress" class="control-label"></label>
                    <input asp-for="AltAddress" class="form-control" />
                    <span asp-validation-for="AltAddress" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AltAddress2" class="control-label"></label>
                    <input asp-for="AltAddress2" class="form-control" />
                    <span asp-validation-for="AltAddress2" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AltCity" class="control-label"></label>
                    <input asp-for="AltCity" class="form-control" />
                    <span asp-validation-for="AltCity" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AltState" class="control-label"></label>
                    <input asp-for="AltState" class="form-control" />
                    <span asp-validation-for="AltState" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="AltZip" class="control-label"></label>
                    <input asp-for="AltZip" class="form-control" />
                    <span asp-validation-for="AltZip" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Remarks" class="control-label"></label>
                    <textarea asp-for="Remarks" class="form-control"></textarea>
                    <span asp-validation-for="Remarks" class="text-danger"></span>
                </div>
                
</div>
</div>

