@model GoFpg.API.Models.VehicleViewModel

<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="VinNumber" class="control-label"></label>
            <input asp-for="VinNumber" onkeyup="vinDecode()" id="Vinnum" class="form-control" style="text-transform:uppercase" />
            <span asp-validation-for="VinNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="control-label"></label>
            <textarea asp-for="Year" class="control-label"></textarea>
            <input asp-for="Year" class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Make" class="control-label"></label>
            <textarea asp-for="Make" class="control-label"></textarea>
            <input asp-for="Make" class="form-control" />
            <span asp-validation-for="Make" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Model" class="control-label"></label>
            <textarea asp-for="Model" class="control-label"></textarea>
            <input asp-for="Model" class="form-control" />
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Doors" class="control-label"></label>
            <textarea asp-for="Doors" class="control-label"></textarea>
            <input asp-for="Doors" class="form-control" />
            <span asp-validation-for="Doors" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BodyClass" class="control-label"></label>
            <textarea asp-for="BodyClass" class="control-label"></textarea>
            <input asp-for="BodyClass" class="form-control" />
            <span asp-validation-for="BodyClass" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="VehicleType" class="control-label"></label>
            <textarea asp-for="VehicleType" class="control-label"></textarea>
            <input asp-for="VehicleType" class="form-control" />
            <span asp-validation-for="VehicleType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LaneDeparture" class="control-label"></label>
            <textarea asp-for="LaneDeparture" class="control-label"></textarea>
            <input asp-for="LaneDeparture" class="form-control" />
            <span asp-validation-for="LaneDeparture" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LaneKeep" class="control-label"></label>
            <textarea asp-for="LaneKeep" class="control-label"></textarea>
            <input asp-for="LaneKeep" class="form-control" />
            <span asp-validation-for="LaneKeep" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ErrorCode" class="control-label"></label>
            <textarea asp-for="ErrorCode" class="control-label"></textarea>
            <span asp-validation-for="ErrorCode" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label asp-for="Color" class="control-label"></label>
            <input asp-for="Color" class="form-control" />
            <span asp-validation-for="Color" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Tag" class="control-label"></label>
            <input asp-for="Tag" class="form-control">
            <span asp-validation-for="Tag" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Remarks" class="control-label"></label>
            <textarea asp-for="Remarks" class="form-control"></textarea>
            <span asp-validation-for="Remarks" class="text-danger"></span>
        </div>
    </div>
</div>
<script type="text/javascript">
    function vinDecode() {
        $.post('@Url.Action("VinDecode", "User")'), {id:VinNum } function(data{ });
    }
</script>

