<section id="container" class="container">

    <div class="controls">
        <fieldset class="input-group">
            <input id="vinPic" type="file" accept="image/*" capture="camera" />
            <button id="reRun">Rerun</button>
        </fieldset>
        <fieldset class="reader-config-group">
            <label>
                <span>Barcode-Type</span>
                <select name="decoder_readers">
                    <option value="code_39">Code 39</option>
                    <option value="code_39_vin" selected="selected">Code 39 VIN</option>
                </select>
            </label>
            <label>
                <span>Resolution (long side)</span>
                <select name="input-stream_size">
                    <option value="320">320px</option>
                    <option value="640">640px</option>
                    <option value="800">800px</option>
                    <option value="1280">1280px</option>
                    <option value="1600">1600px</option>
                    <option selected="selected" value="1920">1920px</option>
                </select>
            </label>
            <label>
                <span>Patch-Size</span>
                <select name="locator_patch-size">
                    <option value="x-small">x-small</option>
                    <option value="small">small</option>
                    <option selected="selected" value="medium">medium</option>
                    <option value="large">large</option>
                    <option value="x-large">x-large</option>
                </select>
            </label>
            <label hidden="hidden">
                <span>Half-Sample</span>
                <input type="checkbox" name="locator_half-sample" />
            </label>
            <label Type="hidden">
                <span>Single Channel</span>
                <input type="checkbox" name="input-stream_single-channel" />
            </label>
            <label Type="hidden">
                <span>Workers</span>
                <select name="numOfWorkers">
                    <option value="0">0</option>
                    <option selected="selected" value="4">4</option>
                </select>
            </label>
        </fieldset>
    </div>
    <div id="interactive" class="viewport"></div>
    <div id="debug" class="detection"></div>

    <input id="resultingcode" />
</section>
@section Styles {
    <link href="~/css/scanstyle.css" rel="stylesheet" />
}