@model GoFpg.API.Models.VehicleViewModel

@{ ViewData["Title"] = "Create"; }

<h2>Crear</h2>

<h4>Vehiculo</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <partial name="_vinScan" />
        <form asp-action="AddVehicle" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserId" />


            <partial name="_Vehicle" />

            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input asp-for="ImageFile" type="file" class="form-control" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Details" asp-route-id="@Model.UserId" class="btn btn-success">Regresar</a>
                <a target="_blank" href="#" onclick="ExportToPdf(); return false;" class="btn btn-info">Print Invoice</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="vendor/jquery-1.9.0.min.js" type="text/javascript"></script>
    <script src="../dist/quagga.js" type="text/javascript"></script>
    <script src="~/js/vinScanner.js" type="text/javascript"></script>*@
    @*<script src="/js/vinDecode.js"></script>*@
    <script type="text/javascript">
        $(document).ready(function () {
            $("#Vinnum").keyup(function () {
                var vinValue = $.trim($("#Vinnum").val());
                if (vinValue.length >= 17) {
                    Rellenar();
                }
            });
        });

        function Rellenar() {
            var vinValue = $.trim($("#Vinnum").val());
            var urlRequest = 'https://vpic.nhtsa.dot.gov/api/vehicles/DecodeVinValues/' + vinValue + '?format=json';
            $.ajax({
                url: urlRequest,
                type: "GET",
                dataType: "json",
                success: function (result) {
                    var resultf = result.Results[0];
                    $("#Year").val(resultf.ModelYear);
                    $("#Make").val(resultf.Make);
                    $("#Model").val(resultf.Model);
                    $("#Doors").val(resultf.Doors);
                    $("#BodyClass").val(resultf.BodyClass);
                    $("#VehicleType").val(resultf.VehicleType);
                    $("#LaneDeparture").val(resultf.LaneDepartureWarning);
                    $("#LaneKeep").val(resultf.LaneKeepSystem);
                    $("#ErrorCode").val(resultf.ErrorCode);
                    //var objJson = result,
                    //FillFields(objJson)

                },
                error: function (xhr, ajaxOption, thrownError) {
                    console.log(xhr)
                }
            });
        }
            //function FillFields(objJson) {
            //    if (!!objJson && !!objJson.Results && !!objJson.Results.length > 0) {
            //        var result = objJson.Results[0];
            //        $("#Year").val(result.ModelYear);
            //    }
            //}
    </script>
}
