@model GoFpg.API.Models.UserViewModel

@{ ViewData["Title"] = "Create"; }

<h2>Crear</h2>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <partial name="_User" />

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-success">Regresar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDp1BTngqrEPwaLmtUtqW5EWqpuOEdS2os&amp;callback=initAutocomplete&amp;libraries=places&amp;v=weekly" async=""></script>
    <script src="~/js/AddressFormAutocomplete.js"></script>
}


