
@{
    ViewData["Title"] = "Ro";
}

<h1>Ro</h1>
<section class="u-align-center u-clearfix u-section-1" id="sec-f0aa">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-form u-form-1">
            <form action="#" method="POST" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="custom" name="form">
                <div class="u-form-date u-form-group u-form-group-1">
                    <label for="date-786c" class="u-label">Date of Loss</label>
                    <input type="date" placeholder="MM/DD/YYYY" id="date-786c" name="date" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-4" required="">
                </div>
                <div class="u-form-group u-form-select u-form-group-2">
                    <label for="select-1e5a" class="u-form-control-hidden u-label"></label>
                    <div class="u-form-select-wrapper">
                        <select id="select-1e5a" name="select" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-4">
                            <option value="Cracked Glass">Cracked Glass</option>
                            <option value="6 or more chips">6 or more chips</option>
                            <option value="Less than 3 chips">Less than 3 chips</option>
                        </select>
                        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" version="1" class="u-caret"><path fill="currentColor" d="M4 8L0 4h8z"></path></svg>
                    </div>
                </div>
                <div class="u-form-date u-form-group u-form-group-3">
                    <label for="date-2974" class="u-label">Sheduled Date</label>
                    <input type="date" placeholder="MM/DD/YYYY" id="date-2974" name="doi" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-4" required="">
                </div>
                <div class="u-form-email u-form-group u-form-group-4">
                    <label for="email-6797" class="u-form-control-hidden u-label">Email</label>
                    <input type="email" placeholder="Email" id="email-6797" name="email" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-4" required="">
                </div>
                <div class="u-form-group u-form-name u-form-group-5">
                    <label for="name-60f6" class="u-form-control-hidden u-label"></label>
                    <input type="text" placeholder="Enter your Name and Last Name" id="name-60f6" name="name" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-4" required="">
                </div>
                <div class="u-form-group u-form-phone u-form-group-6">
                    <label for="phone-3b9c" class="u-form-control-hidden u-label"></label>
                    <input type="tel" pattern="[\(\-]?([0-9]{3})[\)\-]?[\/\s]?([0-9\-]{3,9})" placeholder="Enter your phone (e.g. 3055552675)" id="phone-3b9c" name="phone" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-4" required="">
                </div>
                <div class="u-form-group u-form-group-7">
                    <label for="text-8efe" class="u-form-control-hidden u-label"></label>
                    <input type="text" placeholder="Ins. Co." id="text-8efe" name="text-1" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-4">
                </div>
                <div class="u-form-group u-form-group-8">
                    <label for="text-0398" class="u-form-control-hidden u-label"></label>
                    <input type="text" placeholder="Policy Number" id="text-0398" name="text-2" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-4">
                </div>
                <div class="u-form-group u-form-group-9">
                    <label for="text-3fd6" class="u-form-control-hidden u-label"></label>
                    <input type="text" placeholder="Address" id="text-3fd6" name="text-3" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-4">
                </div>
                <div class="u-form-group u-form-group-10">
                    <label for="text-d982" class="u-form-control-hidden u-label"></label>
                    <input type="text" placeholder="City" id="text-d982" name="text-4" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-4">
                </div>
                <div class="u-form-group u-form-group-11">
                    <label for="text-b452" class="u-form-control-hidden u-label"></label>
                    <input type="text" placeholder="Zip Code" id="text-b452" name="text-5" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-4" maxlength="5">
                </div>
                <div class="u-form-group u-form-group-12">
                    <label for="text-fdc8" class="u-form-control-hidden u-label"></label>
                    <input type="text" placeholder="Insurance Card" id="text-fdc8" name="text" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-4">
                </div>
                <div class="u-form-group u-form-group-13">
                    <label for="text-1df6" class="u-form-control-hidden u-label"></label>
                    <input type="text" placeholder="VIN Number" id="text-1df6" name="picvin" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-4">
                </div>
                <div class="u-form-group u-form-group-14">
                    <label for="text-d8cb" class="u-form-control-hidden u-label"></label>
                    <input type="text" id="text-d8cb" name="picdriverlicense" class="u-border-1 u-border-grey-30 u-input u-input-rectangle u-radius-4" placeholder="Drivers License">
                </div>
                <div class="u-form-checkbox u-form-group u-form-group-15">
                    <input type="checkbox" id="checkbox-3211" name="DealerInstall" value="On">
                    <label for="checkbox-3211" class="u-label">Install at Dealership</label>
                </div>
                <div class="u-align-left u-form-group u-form-submit u-form-group-16">
                    <a href="#" class="u-btn u-btn-submit u-button-style">Submit</a>
                    <input type="submit" value="submit" class="u-form-control-hidden">
                </div>
                <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
                <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
                <input type="hidden" value="" name="recaptchaResponse">
            </form>
        </div>
    </div>
</section>

