@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <style>
        h1 {
            font-family: Helvetica;
            font-size: 30px;
            font-style: italic;
            font-weight: 900;
        }
    </style>

    <h1 style="font-family:Helvetica" class="display-4">FPG</h1>

    <img src="~/Images/glass logo1.png" />

    <p>This Website is under Construction....</p>
    
</div>
