@model GoFpg.API.Models.DetailedQuoteViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Get a Specified Quote..</h1>

<h4>Just in 3 Steps...</h4>
<hr />

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="widget-wrap">
            <ul id="demoB">
                <li class="open" style="background-color:crimson;">1st.   Add Glass Requested..</li>
                <li>
                    <div class="form-group">
                        <label asp-for="GlassTypeId" class="control-label"></label>
                        <select asp-for="GlassTypeId" asp-items="Model.GlassTypes" class="form-control" onchange="change(this)"></select>
                        <span asp-validation-for="GlassTypeId" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="inscoinput" style="display: none">
                        <label asp-for="InsuranceCompany" class="control-label"></label>
                        <input id="myInput" asp-for="InsuranceCompany" class="form-control" />
                        <span asp-validation-for="InsuranceCompany" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="dolinput" style="display: none">
                        <label asp-for="DateOfLoss" class="control-label"></label>
                        <input asp-for="DateOfLoss" class="form-control" />
                        <span asp-validation-for="DateOfLoss" class="text-danger"></span>
                    </div>
                </li>
                <li style="background-color:gold;" >2nd.   Add Car Details..</li>
                <li>
                    <div class="form-group">
                        <label asp-for="VinNumber" class="control-label"></label>
                        <input asp-for="VinNumber" id="Vinnum" class="form-control" style="text-transform:uppercase" />
                        <span asp-validation-for="VinNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Year" class="control-label"></label>
                        <input asp-for="Year" class="form-control" />
                        <span asp-validation-for="Year" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Make" class="control-label"></label>
                        <input asp-for="Make" class="form-control" />
                        <span asp-validation-for="Make" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                </li>
                <li style="background-color:lightseagreen;" >3rd.   Add Installation Address</li>
                <li>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" id="ship-address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Address2" class="control-label"></label>
                        <input asp-for="Address2" id="address2" class="form-control" />
                        <span asp-validation-for="Address2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <label id="locality" class="control-label"></label>
                        <input asp-for="City" id="locality" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Zip" class="control-label"></label>
                        <input asp-for="Zip" id="postcode" class="form-control" />
                        <span asp-validation-for="Zip" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="hidden" asp-for="State" id="state" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                </li>
                <li style="background-color:cornflowerblue;" >Confirm..</li>
                <li>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" style="text-transform:capitalize" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" style="text-transform:capitalize" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Get Specific Quote" class="btn btn-primary" />
                    </div>
                </li>
            </ul>

    

    
        @*<div class="form-group">
            <label asp-for="VinNumber" class="control-label"></label>
            <input asp-for="VinNumber" id="Vinnum" class="form-control" style="text-transform:uppercase" />
            <span asp-validation-for="VinNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Year" class="control-label"></label>
            <input asp-for="Year" class="form-control" />
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Make" class="control-label"></label>
            <input asp-for="Make" class="form-control" />
            <span asp-validation-for="Make" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Model" class="control-label"></label>
            <input asp-for="Model" class="form-control" />
            <span asp-validation-for="Model" class="text-danger"></span>
        </div>*@
        <div class="form-group">
            <input type="hidden" asp-for="Doors" class="form-control" />
            <span asp-validation-for="Doors" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="BodyClass" class="form-control" />
            <span asp-validation-for="BodyClass" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="VehicleType" class="form-control" />
            <span asp-validation-for="VehicleType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="LaneDeparture" class="form-control" />
            <span asp-validation-for="LaneDeparture" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="LaneKeep" class="form-control" />
            <span asp-validation-for="LaneKeep" class="text-danger"></span>
        </div>
                </div>
        

</form>
</div>
</div>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDp1BTngqrEPwaLmtUtqW5EWqpuOEdS2os&amp;callback=initAutocomplete&amp;libraries=places&amp;v=weekly" async=""></script>
<script src="~/js/AddressFormAutocomplete.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
<script src="vendor/jquery-1.9.0.min.js" type="text/javascript"></script>
<script src="~/js/hideunhide.js"></script>
<script src="~/js/vinDeco.js"></script>
<link href="~/css/Acordize.css" rel="stylesheet" />
<script src="~/js/Acordize.js"></script>
<script src="~/js/InsuranceAutocomplete.js"></script>