@model GoFpg.API.Models.NewClaimViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>NewClaimViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DateOfLoss" class="control-label"></label>
                <input asp-for="DateOfLoss" type="datetime" class="form-control" value="@DateTime.Today.ToShortDateString()"/>
                <span asp-validation-for="DateOfLoss" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Damage" class="control-label"></label>
                <input asp-for="Damage" class="form-control" />
                <span asp-validation-for="Damage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScheduleDate" class="control-label"></label>
                <input asp-for="ScheduleDate" type="datetime" class="form-control" value="@DateTime.Today.ToShortDateString()"/>
                <span asp-validation-for="ScheduleDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsuranceCo" class="control-label"></label>
                <input asp-for="InsuranceCo" class="form-control" />
                <span asp-validation-for="InsuranceCo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PolicyNumber" class="control-label"></label>
                <input asp-for="PolicyNumber" class="form-control" />
                <span asp-validation-for="PolicyNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VINImageId" class="control-label"></label>
                <input asp-for="VINImageId" type="file" class="form-control" />
                <span asp-validation-for="VINImageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VinNumber" class="control-label"></label>
                <input asp-for="VinNumber" class="form-control" />
                <span asp-validation-for="VinNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DLImageId" class="control-label"></label>
                <input asp-for="DLImageId" type="file" class="form-control" />
                <span asp-validation-for="DLImageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InsCardImageId" class="control-label"></label>
                <input asp-for="InsCardImageId" type="file" class="form-control" />
                <span asp-validation-for="InsCardImageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

